<script setup lang="ts"></script>

<template>
  <p-form cancelable>
    <p-field name="name" label="Name" required />
    <p-field name="email" label="Email" />
    <p-field type="text" name="password" label="Password" required hint="at least 7 characters" />
  </p-form>
</template>
