<script setup lang="ts">
import { ref } from 'vue'

const saving = ref(false)
const submitHandler = (values: any) => {
  saving.value = true
  setTimeout(() => {
    saving.value = false
    alert('Submitted form: ' + JSON.stringify(values))
  }, 1000)
}
</script>

<template>
  <p-form class="shadow px-6 py-4 rounded" @submit="submitHandler">
    <p-field name="login" placeholder="Login" />
    <p-field type="password" name="password" placeholder="Password" />

    <template #buttons="{ onSubmit }">
      <p-btn type="primary" native-type="submit" @click.prevent="onSubmit" :loading="saving">Login</p-btn>
    </template>
  </p-form>
</template>
