<script setup lang="ts">
const data = {
  firstname: 'Jesse',
  lastname: 'Holland',
  email: 'jesse.holland@example.com',
  phone: '(575) 990-3393'
}
</script>

<template>
  <p-form :item="data" class="grid grid-cols-2 gap-x-6" no-buttons>
    <p-field name="firstname" label="Firstname" />
    <p-field name="lastname" label="Lastname" />
    <p-field name="phone" label="Phone number" />
    <p-field name="email" label="Email" />
  </p-form>
</template>
