<script setup lang="ts">
import { ref } from 'vue'

const submittedValues = ref(undefined)
const onSubmit = (values: any) => {
  submittedValues.value = values
}

const data = ref({ firstname: 'John', lastname: 'Doe' })
</script>

<template>
  <p-form class="grid grid-cols-2 gap-x-6" :item="data" @submit="onSubmit">
    <p-field name="firstname" label="Firstname" />
    <p-field name="lastname" label="Lastname" />
  </p-form>

  <div class="text-base bg-gray-100 rounded p-4 mt-4">
    <div v-if="submittedValues">Submitted values: {{ submittedValues }}</div>
    <div v-else>Click the submit button</div>
  </div>
</template>
