<script setup lang="ts">
import { reactive, ref } from 'vue'

const tabs = reactive([
  { id: 'tab1', label: 'First Tab' },
  { id: 'tab2', label: 'Second Tab' },
  { id: 'tab3', label: 'Third Tab' }
])
</script>

<template>
  <p-form resettable>
    <p-field name="name" label="Name" required />
    <p-tabs :tabs="tabs">
      <template #tab:tab1>
        <p-field name="tab1Field" label="Textfield in Tab 1" />
      </template>
      <template #tab:tab2>
        <p-field name="tab2Field" label="Required Field in Tab 2" required />
        <p-field name="tab2Optional" label="Optional Field in Tab 2" />
      </template>
      <template #tab:tab3>
        <p-field name="tab3Field" label="Required Field in Tab 3" required />
      </template>
    </p-tabs>
  </p-form>
</template>
