<script lang="ts" setup>
import { ref } from 'vue'
const show = ref(false)
</script>

<template>
  <p-btn @click="show = true">show dialog</p-btn>
  <p-dialog v-model:show="show" title="Confirm">This update may take several minutes.</p-dialog>
</template>
