<script lang="ts" setup>
import { ref } from 'vue'
const show = ref(false)
</script>

<template>
  <p-btn @click="show = true">show custom dialog</p-btn>
  <p-dialog v-model:show="show">
    <p class="mt-4 px-4 text-lg">
      When you proceed, you accept our
      <a href="#">terms and conditions</a>
      .
    </p>
    <template #footer="{ confirm, close }">
      <div class="flex flex-col items-center w-full">
        <p-btn size="large" type="success" @click="confirm" autofocus>Yes, I understand</p-btn>
        <p-btn text size="small" class="mt-4" @click="close">I do not agree</p-btn>
      </div>
    </template>
  </p-dialog>
</template>
