<script lang="ts" setup>
import { ref } from 'vue'
const show = ref(false)
</script>

<template>
  <p-btn @click="show = true">show warning</p-btn>
  <p-dialog v-model:show="show" title="Delete user" cancel-label="No, abort" confirm-label="Yes, delete" danger>
    <p>
      Are you sure to delete the user
      <b>Luca Lazy</b>
      from the database?
    </p>
    <p class="mt-4 text-base text-gray-400">
      This action cannot be made undone. All of the user's projects will also be deleted.
    </p>
  </p-dialog>
</template>
