<script lang="ts" setup>
import { ElConfigProvider } from 'element-plus'
// @ts-ignore
import { ElementPlusContainer } from '@vitepress-demo-preview/component'
import { useI18n } from 'vue-i18n'
import { computed } from 'vue'

// @ts-ignore
import de from 'element-plus/dist/locale/de.js'
// @ts-ignore
import en from 'element-plus/dist/locale/en.js'

const { locale } = useI18n()
const locales = ['en', 'de']
const elementPlusLocale = computed(() => {
  if (locale.value === 'de') {
    return de
  } else {
    return en
  }
})

defineOptions({
  inheritAttrs: false
})
</script>

<template>
  <ClientOnly>
    <div class="vp-raw text-base relative mt-8">
      <div class="absolute right-0 -top-6">
        <div
          v-for="l in locales"
          :key="l"
          class="inline-block px-1 mr-1 uppercase text-sm cursor-pointer opacity-60"
          :class="{ 'font-bold': l === locale }"
          :title="`Set locale to '${l}'`"
          @click="locale = l"
        >
          {{ l }}
        </div>
      </div>
      <el-config-provider :locale="elementPlusLocale">
        <ElementPlusContainer v-bind="$attrs">
          <slot></slot>
        </ElementPlusContainer>
      </el-config-provider>
    </div>
  </ClientOnly>
</template>

<style scoped lang="css"></style>
