<script lang="ts">
import { type Component, defineAsyncComponent, defineComponent } from 'vue'

export default defineComponent({
  inheritAttrs: false,

  props: {
    src: String,
    title: String
  },

  data: () => ({
    fullscreen: false,
    component: undefined as undefined | Component
  }),

  mounted() {
    this.component = defineAsyncComponent(() => import(/* @vite-ignore */ this.src!))
  }
})
</script>

<template>
  <div class="vp-raw demo-block__content bg-gray-100 my-4" @keydown.esc="fullscreen = false" :tabindex="0">
    <p-btn @click="fullscreen = true">{{ title || 'Show fullscreen layout' }}</p-btn>
    <div v-if="fullscreen" class="bg-gray-500 opacity-50 fixed inset-0 z-50 backdrop-blur-3xl" />
    <div
      v-if="fullscreen"
      class="vp-raw vp-demo fixed bg-white inset-0 lg:inset-8 z-50 !overflow-hidden shadow-xl rounded"
    >
      <ClientOnly>
        <slot>
          <component :is="component" />
        </slot>
      </ClientOnly>
      <p-btn @click="fullscreen = false" class="absolute z-10 top-2 right-2">close</p-btn>
    </div>
  </div>
</template>
