<script lang="ts" setup></script>
<template>
  <p-auth-layout bg-attribution="Image attribution: unsplash.com" bg-attribution-link="https://unsplash.com">
    <p-signup-form />

    <template #footer>Crafted with ♥️ by Acme Inc.</template>
  </p-auth-layout>
</template>
