<script lang="ts" setup>
import PList from '@/components/data/PList.vue'
const onSelect = (item: any, index: number) => alert(`selected: #${index} ${JSON.stringify(item)}`)

const items = [
  {
    title: 'Leslie Copeland',
    subtitle: 'General Manager'
  },
  {
    title: 'Lucas Phillips',
    subtitle: 'Human Resources'
  },
  {
    title: 'Ken Griffin',
    subtitle: 'Investor Relations'
  },
  {
    title: 'John Doe'
  }
]
</script>

<template>
  <PList :items="items" @select="onSelect" />
</template>

<style scoped lang="css"></style>
