<script lang="ts" setup>
import PList from '@/components/data/PList.vue'
import { reactive, ref } from 'vue'

const selected: any | undefined = ref(undefined)

const items = reactive([
  {
    name: 'Martin Stone',
    email: 'martin.stone@example.com',
    phone: '(960) 913-8009',
    image: 'https://randomuser.me/api/portraits/men/42.jpg'
  },
  {
    name: 'Tracey Lewis',
    email: 'tracey.lewis@example.com',
    phone: '(368) 203-9366',
    image: 'https://randomuser.me/api/portraits/women/42.jpg'
  },
  {
    name: 'Frederick Beck',
    email: 'frederick.beck@example.com',
    phone: '(850) 922-2652',
    image: 'https://randomuser.me/api/portraits/men/60.jpg'
  }
])
</script>

<template>
  <PList :items="items" class="w-96 m-auto" v-model="selected">
    <template #item="{ item }">
      <div class="flex space-x-6 w-full px-4">
        <img class="w-20 h-20 rounded-full border" :src="item.image" />
        <div class="flex-1 leading-relaxed">
          <p class="font-semibold">{{ item.name }}</p>
          <p class="opacity-80">
            <a :href="'mailto:' + item.email" class="hover:underline" @click.stop>{{ item.email }}</a>
          </p>
          <p class="opacity-50">{{ item.phone }}</p>
        </div>
      </div>
    </template>
  </PList>
</template>

<style scoped lang="css"></style>
