<script lang="ts" setup>
import { ref } from 'vue'

const items = ['First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth']

const selected: any | undefined = ref(undefined)
</script>

<template>
  <p-list :items="items" style="max-height: 200px" v-model="selected" />
</template>

<style scoped lang="css"></style>
