<script lang="ts" setup>
import PList from '@/components/data/PList.vue'
import { ElButton } from 'element-plus'

import { ref } from 'vue'
const onSelect = (item: any, index: number) => alert(`selected: #${index} ${JSON.stringify(item)}`)

const items = [
  {
    title: 'Leslie Copeland',
    subtitle: 'General Manager'
  },
  {
    title: 'Lucas Phillips',
    subtitle: 'Human Resources'
  },
  {
    title: 'Ken Griffin',
    subtitle: 'Investor Relations'
  },
  {
    title: 'John Doe'
  }
]

const loading = ref(true)
const load = () => {
  loading.value = true
  setTimeout(() => (loading.value = false), 1000)
}
load()
</script>

<template>
  <el-button @click="load" class="mb-6">Load</el-button>
  <PList :items="items" :loading="loading" />
</template>

<style scoped lang="css"></style>
