<script lang="ts">
import { computed, defineComponent, type PropType } from 'vue'
import PNumberInput from './input/PNumberInput.vue'
import PTextInput from './input/PTextInput.vue'
import PSelectInput from './input/PSelectInput.vue'
import PSwitchInput from './input/PSwitchInput.vue'
import type { FieldType, ValidationRule } from './types'
import { Field } from 'vee-validate'
import PAutocompleteInput from '@/components/form/input/PAutocompleteInput.vue'
import { MIXED_VALUES } from '@/composables/useMixedValues'
import { useI18n } from 'vue-i18n'
import { useId } from 'element-plus'

export default defineComponent({
  name: 'PField',
  // eslint-disable-next-line vue/no-reserved-component-names
  components: { PAutocompleteInput, PNumberInput, PSelectInput, PSwitchInput, Field, PTextInput },

  props: {
    dense: Boolean,
    label: String,
    hint: String,
    name: {
      type: String,
      required: true
    },
    required: {
      type: [Boolean, String],
      default: false
    },
    rules: {
      type: Array as PropType<ValidationRule[]>,
      default: () => []
    },
    type: {
      type: String as PropType<FieldType>,
      default: 'text'
    }
  },

  data: () => ({
    internalValue: undefined as any | undefined,
    internalErrorMessage: undefined as string | undefined,
    validationRules: [] as ValidationRule[]
  }),

  computed: {
    hasLabel(): boolean {
      return !['switch'].includes(this.type)
    }
  },

  setup(props) {
    const i18n = useI18n()
    const defaultRequiredMessage = computed(() =>
      props.type === 'select' ? i18n.t('ui.PField.selectionRequired') : i18n.t('ui.PField.inputRequired')
    )

    const inputId = useId()
    return { defaultRequiredMessage, i18n, inputId }
  },

  mounted() {
    this.updateValidationRules()
  },

  watch: {
    rules() {
      this.updateValidationRules()
    }
  },

  methods: {
    handleBlur(ctx: any, event: Event) {
      if (ctx.field?.value !== MIXED_VALUES) {
        ctx.handleChange(ctx.field?.value)
      }
    },

    updateValidationRules() {
      const defaultRules = []
      if (this.required) {
        const message = typeof this.required === 'string' ? this.required : this.defaultRequiredMessage
        defaultRules.push((v: any) => (v !== undefined && v !== null && v.toString().trim() !== '') || message)
      }
      this.validationRules = [...defaultRules, ...this.rules]
    }
  }
})
</script>

<template>
  <Field :name="name" :rules="validationRules" v-slot="ctx">
    <div
      class="p-field"
      :class="//@ts-ignore
      { 'p-field--error': ctx.errors.length > 0, [$attrs.class || '']: true }"
      :data-field="name"
    >
      <label
        v-if="label && hasLabel"
        :for="inputId"
        class="p-field__label el-form-item__label"
        :title="required ? i18n.t('ui.PField.requiredField') : undefined"
      >
        {{ label }}
        <template v-if="required">*</template>
      </label>
      <div class="p-field__input">
        <slot name="input" v-bind="ctx">
          <PAutocompleteInput
            v-if="type === 'autocomplete'"
            v-bind="$attrs"
            :id="inputId"
            :modelValue="ctx.field.value"
            @update:modelValue="ctx.handleChange"
            @blur="handleBlur(ctx, $event)"
          />
          <PSelectInput
            v-else-if="type === 'select'"
            v-bind="$attrs"
            :id="inputId"
            class="w-full"
            :modelValue="ctx.field.value"
            @update:modelValue="ctx.handleChange"
            @blur.prevent="handleBlur(ctx, $event)"
          />
          <PSwitchInput
            v-else-if="type === 'switch'"
            v-bind="$attrs"
            :label="label"
            :hint="hint"
            :modelValue="ctx.field.value as boolean"
            @update:modelValue="ctx.handleChange"
            @blur="handleBlur(ctx, $event)"
          />
          <PNumberInput
            v-else-if="type === 'number'"
            v-bind="$attrs"
            :id="inputId"
            :modelValue="ctx.field.value as number | undefined"
            @update:modelValue="ctx.handleChange"
            @blur="handleBlur(ctx, $event)"
          />
          <PTextInput
            v-else
            v-bind="$attrs"
            :id="inputId"
            :name="name"
            :modelValue="ctx.field.value"
            :type="type"
            @blur="handleBlur(ctx, $event)"
            @update:modelValue="ctx.handleChange"
          />
        </slot>
      </div>
      <div class="p-field__messages">
        <div class="p-field__error">{{ ctx.errorMessage }}</div>
        <div v-if="ctx.errors.length === 0 && type !== 'switch'">{{ hint }} {{ dense ? '' : '&nbsp;' }}</div>
      </div>
    </div>
  </Field>
</template>

<style scoped lang="css">
.p-field__messages {
  @apply text-sm pt-1 pb-1 dark:text-white;
  color: var(--el-text-color-secondary);
}

.p-field--error .p-field__messages {
  @apply font-semibold text-error-500 opacity-100;
}

.p-field--error :deep(.el-input__wrapper) {
  box-shadow: 0 0 0 1px var(--tw-color-error-500) inset;
}

.p-field__error {
  @apply transition-transform;
  transform: scaleY(0);
  transform-origin: top;
}
.p-field--error .p-field__error {
  transform: none;
}
</style>
