<script lang="ts">
import { defineComponent, type PropType } from 'vue'
import { Form, type FormActions, type InvalidSubmissionContext } from 'vee-validate'
import { findInvalidFieldsInTabs } from './util'
import { useI18n } from 'vue-i18n'

export default defineComponent({
  name: 'PForm',
  components: { Form },
  inheritAttrs: false,

  props: {
    cancelable: {
      type: Boolean,
      default: false
    },
    cancelLabel: {
      type: String,
      default: 'ui.PForm.cancel'
    },
    item: {
      type: Object as PropType<any>,
      default: () => ({})
    },
    noButtons: {
      type: Boolean,
      default: false
    },
    resettable: {
      type: Boolean,
      default: false
    },
    resetLabel: {
      type: String,
      default: 'ui.PForm.reset'
    },
    saving: {
      type: Boolean,
      default: false
    },
    submitLabel: {
      type: String,
      default: 'ui.PForm.submit'
    },
    submitOnEnter: {
      type: Boolean,
      default: false
    }
  },

  emits: {
    cancel: () => true,
    submit: (values: any, actions: FormActions<Record<string, any>>) => true
  },

  setup() {
    // FIXME: Rpelace with $te once this vue-i18n bug is resolved:
    // https://github.com/intlify/vue-i18n-next/issues/1104
    const { te } = useI18n()
    return { te }
  },

  computed: {
    form(): typeof Form | undefined {
      return this.$refs.form as typeof Form
    },
    isCancelable() {
      return this.cancelable || this.$attrs.onCancel
    }
  },

  methods: {
    onInvalidSubmit({ errors }: InvalidSubmissionContext) {
      findInvalidFieldsInTabs(Object.keys(errors), this.$el)
    },

    onSubmit(values: any, actions: FormActions<Record<string, any>>) {
      this.$emit('submit', values, actions)
    }
  },

  watch: {
    item() {
      //console.log('ITEM CHANGED', this.form)
      this.form?.resetForm()
      this.form?.setValues(this.item)
    }
  }
})
</script>

<template>
  <Form ref="form" v-bind="$attrs" v-slot="formContext" :initial-values="item" @invalid-submit="onInvalidSubmit">
    <slot v-bind="formContext"></slot>

    <div class="flex my-4" v-if="!noButtons">
      <slot
        name="buttons"
        v-bind="{ ...formContext, onSubmit: ($event: any) => formContext.handleSubmit($event, onSubmit) }"
      >
        <div class="flex flex-1 space-x-4">
          <p-btn
            type="primary"
            :native-type="submitOnEnter ? 'submit' : 'button'"
            :loading="saving"
            :disabled="formContext.submitCount > 0 && (!formContext.meta.dirty || !formContext.meta.valid)"
            @click.prevent="formContext.handleSubmit($event, onSubmit)"
          >
            {{ te(submitLabel) ? $t(submitLabel) : submitLabel }}
          </p-btn>
          <p-btn v-if="isCancelable" text @click="$emit('cancel')">
            {{ te(cancelLabel) ? $t(cancelLabel) : cancelLabel }}
          </p-btn>
          <div v-if="isCancelable && resettable" class="flex-1"></div>
          <p-btn v-if="resettable" link native-type="reset" :disabled="!formContext.meta.dirty">
            {{ te(resetLabel) ? $t(resetLabel) : resetLabel }}
          </p-btn>
        </div>
      </slot>
    </div>
  </Form>
</template>

<style scoped lang="css"></style>
