<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PFormSection',
  props: {
    title: String
  },
  inheritAttrs: false
})
</script>

<template>
  <div class="p-form-section text-base mt-4 mb-6 first:mt-0" v-bind="$attrs">
    <div class="flex border-b mt-8 mb-4 py-1 items-center">
      <h4 class="flex-1 font-semibold text-lg">
        <slot name="title">{{ title }}</slot>
      </h4>
      <div>
        <slot name="actions"></slot>
      </div>
    </div>
    <div>
      <slot></slot>
    </div>
  </div>
</template>
