<script lang="ts">
import { defineComponent, type PropType } from 'vue'
import { useI18n } from 'vue-i18n'
import { applyFieldsToItems, findNonMixedValues, mergeItems } from './util'

type Item = Record<string, any>

export default defineComponent({
  name: 'PMultiForm',

  props: {
    defaultItem: {
      type: Object as PropType<Partial<Item>>,
      default: () => ({})
    },
    items: {
      type: Array as PropType<Item[]>,
      default: () => []
    },
    submitLabel: {
      type: String
    }
  },
  emits: {
    cancel: () => true,
    submit: (values: Item[]) => true,
    'submit:changes': (changes: Partial<Item>) => true
  },

  computed: {
    defaultSubmitLabel() {
      const itemCount = this.items.length
      return this.t('ui.PMultiForm.submitLabel', itemCount)
    },
    mergedItems(): Item[] {
      return this.items?.length > 0 ? mergeItems(this.items) : this.defaultItem
    }
  },

  setup() {
    const { t } = useI18n()
    return { t }
  },

  methods: {
    onSubmit(values: Record<string, any>) {
      if (this.items.length > 0) {
        // update existing items
        this.$emit('submit', applyFieldsToItems(values, this.items))
      } else {
        // save a new item
        this.$emit('submit', [{ ...values }])
      }
      this.$emit('submit:changes', findNonMixedValues(values))
    }
  }
})
</script>

<template>
  <p-form
    v-bind="$attrs"
    :item="mergedItems"
    :submit-label="submitLabel || defaultSubmitLabel"
    @cancel="$emit('cancel')"
    @submit="onSubmit"
  >
    <template #default="formContext">
      <slot v-bind="{ ...formContext, items }"></slot>
    </template>

    <template #buttons v-if="$slots.buttons">
      <slot name="buttons" :onSubmit="onSubmit" :onCancel="$emit('cancel')"></slot>
    </template>
  </p-form>
</template>

<style scoped lang="css"></style>
