<script setup lang="ts">
import { ref } from 'vue'

const value = ref(2100)
</script>

<template>
  <p-number-input
    v-model="value"
    unit="€"
    :min-fraction-digits="2"
    :max-fraction-digits="2"
    class="w-32"
    right
    grouping
  />
  <div class="mt-4">Raw value: {{ value }}</div>
</template>
