<script setup lang="ts">
import { ref } from 'vue'

const value = ref(2100)
const minDigits = ref(undefined)
const maxDigits = ref(undefined)
</script>

<template>
  <p-number-input
    v-model="value"
    unit="km"
    :min-fraction-digits="minDigits"
    :max-fraction-digits="maxDigits || 20"
    class="w-40"
    right
    grouping
    :key="minDigits + '-' + maxDigits"
  />
  <hr class="my-4" />
  <div class="flex space-x-4 mt-4">
    <p-field
      name="min"
      v-model="minDigits"
      type="number"
      :min="0"
      :max="20"
      label="Minimum Fraction Digits"
      class="w-40"
      :step="1"
    />
    <p-field
      name="max"
      v-model="maxDigits"
      type="number"
      :min="0"
      :max="20"
      label="Maximum Fraction Digits"
      class="w-40"
      :step="1"
    />
  </div>
  <div class="mt-4">Raw value: {{ value }}</div>
</template>
