<script setup lang="ts">
import { useI18n } from 'vue-i18n'

const { locale } = useI18n()

const number = 1234567.89
</script>

<template>
  <p>Raw value: {{ number }}</p>
  <p>
    Formatted number:
    <b>{{ $n(number) }}</b>
  </p>

  <p class="mt-4">
    <b>{{ $t('ui.test') }}</b>
  </p>

  <div class="mt-4 flex items-baseline">
    Change Locale:
    <p-btn class="mt-6 ml-2" @click="locale = 'de'">DE</p-btn>
    <p-btn class="mt-6" @click="locale = 'en'">EN</p-btn>
  </div>
</template>
