<script setup lang="ts">
import { useI18n } from 'vue-i18n'
const date = new Date()

const { datetimeFormats, locale } = useI18n()
const formats = datetimeFormats
</script>

<template>
  <table>
    <tr>
      <th class="w-[20ch]">Raw Date (now)</th>
      <td>{{ date }}</td>
    </tr>
    <tr>
      <th>Default</th>
      <td>{{ $d(date) }}</td>
    </tr>
    <tr v-for="format in Object.keys(formats[locale])" :key="format">
      <th>{{ format }}</th>
      <td>{{ $d(date, format) }}</td>
    </tr>
  </table>
</template>

<style scoped>
th {
  text-align: left;
  font-family: monospace;
}
</style>
