<script setup lang="ts">
import { useI18n } from 'vue-i18n'
const value = 1234.567

const { numberFormats, locale } = useI18n()
</script>

<template>
  <table>
    <tr>
      <th class="w-[20ch]">Raw value</th>
      <td>{{ value }}</td>
    </tr>
    <tr>
      <th>Default</th>
      <td>{{ $n(value) }}</td>
    </tr>
    <tr v-for="format in Object.keys(numberFormats[locale])" :key="format">
      <th>{{ format }}</th>
      <td>{{ $n(value, format) }}</td>
    </tr>
  </table>
</template>

<style scoped>
th {
  text-align: left;
  font-family: monospace;
}
</style>
