<script lang="ts">
import { defineComponent, type PropType } from 'vue'
import { ElSkeleton, ElSkeletonItem } from 'element-plus'

export default defineComponent({
  name: 'PList',
  components: { ElSkeleton, ElSkeletonItem },

  props: {
    items: {
      type: Array as PropType<any[]>,
      required: true
    },
    itemClass: String,
    loading: {
      type: Boolean,
      default: false
    },
    modelValue: Object as PropType<any>,
    noBorder: {
      type: Boolean,
      default: false
    },
    noDataText: {
      type: String,
      default: 'keine Daten vorhanden'
    }
  },

  emits: {
    select: (item: any, index: number) => true,
    'update:modelValue': (item: any | undefined) => true
  },

  methods: {
    onSelect(item?: any, index?: number) {
      if (item) {
        this.$emit('select', item, index!)
      }
      this.$emit('update:modelValue', item)
      this.$el.focus()
    },

    selectPrevious() {
      const current = this.items.findIndex((item) => item === this.modelValue)
      if (current) {
        this.onSelect(this.items[current - 1], current - 1)
      }
    },

    selectNext() {
      const current = this.items.findIndex((item) => item === this.modelValue)
      if (current < this.items.length - 1) {
        this.onSelect(this.items[current + 1], current + 1)
      }
    }
  }
})
</script>

<template>
  <div
    class="p-data-list"
    :class="{ 'rounded shadow bg-white dark:bg-gray-800 dark:text-gray-400': !noBorder }"
    :tabindex="0"
    @keydown.up.prevent="selectPrevious"
    @keydown.down.prevent="selectNext"
  >
    <el-skeleton :loading="loading" animated>
      <template #template>
        <slot name="loading">
          <div class="px-8 py-2 w-3/4" v-for="i in 5" :key="i">
            <el-skeleton-item variant="p" style="width: 66%" class="mb-2"></el-skeleton-item>
            <el-skeleton-item variant="p" />
          </div>
        </slot>
      </template>
      <template #default>
        <template v-if="items.length > 0">
          <div
            v-for="(item, index) in items"
            :key="index"
            class="p-data-list__item"
            :class="{ 'p-data-list__item--selected': modelValue === item, [`${itemClass || ''}`]: true }"
            @click="onSelect(item, index)"
          >
            <slot name="item" v-bind="{ item, index }">
              <div v-if="item.title" class="font-semibold">{{ item.title }}</div>
              <div v-if="item.subtitle" class="text-gray-500 mt-1.5">{{ item.subtitle }}</div>
              <div v-if="typeof item === 'string'">{{ item }}</div>
            </slot>
          </div>
        </template>
        <template v-else>
          <slot name="noData">
            <div class="p-16 text-center text-gray-400 text-lg">{{ noDataText }}</div>
          </slot>
        </template>
      </template>
    </el-skeleton>
  </div>
</template>

<style scoped lang="css">
.p-data-list {
  @apply overflow-y-auto text-base h-full;
}

.p-data-list__item {
  @apply p-4 border-t-gray-200 border-t first:border-none cursor-pointer transition-[background-color] flex flex-col justify-center hover:bg-gray-500 hover:bg-opacity-10 dark:text-gray-200;
  border-top-style: solid;
}

:global(.dark .p-data-list__item) {
  border-top-color: var(--tw-color-gray-500);
}

.p-data-list__item--selected,
.p-data-list__item--selected:hover {
  background-color: var(--tw-color-primary);
  @apply text-white;
}
</style>
