<script lang="ts">
import { defineComponent, type PropType } from 'vue'
import { ElBadge, ElTabs, ElTabPane } from 'element-plus'

export type TabConfig = {
  id: string
  label: string
  badge?: string | number
  error?: boolean
}

export default defineComponent({
  name: 'PTabs',
  components: { ElBadge, ElTabs, ElTabPane },
  props: {
    tabs: {
      type: Array as PropType<Array<TabConfig>>,
      required: true
    },
    activeTab: String
  },

  emits: {
    change: (tab: TabConfig['id']) => true
  },

  data: () => ({
    active: undefined as undefined | string
  }),

  mounted() {
    if (this.tabs[0]) {
      this.active = this.activeTab || this.tabs[0].id
    }
  },

  watch: {
    active() {
      if (this.active) {
        this.$emit('change', this.active)
      }
    },
    activeTab() {
      this.active = this.activeTab
    },
    tabs() {
      if (!this.active && this.tabs[0]) {
        this.active = this.tabs[0].id
      }
    }
  }
})
</script>

<template>
  <el-tabs v-bind="$attrs" v-model="active" class="p-tabs">
    <el-tab-pane
      v-for="tab in tabs"
      :key="tab.id"
      :name="tab.id"
      class="p-tab"
      :class="{ 'p-tab--active': tab.id === active }"
      :data-tab="tab.id"
    >
      <template #label>
        <div class="p-tab__label" :data-tab-label-for="tab.id">
          <div>
            {{ tab.label }}
            <span v-if="tab.badge" class="p-tab__badge">{{ tab.badge }}</span>
          </div>
          <div v-if="tab.error" class="p-tab__error">
            <p-error-icon class="w-5 w-5" />
          </div>
        </div>
      </template>
      <slot :name="`tab:${tab.id}`" :active="tab.id === active"></slot>
    </el-tab-pane>
  </el-tabs>
</template>

<style scoped lang="css">
.p-tab__label {
  @apply flex items-center;
}
.p-tab__badge {
  @apply mx-1 p-1.5 py-0.5 rounded-full text-xs font-semibold bg-gray-100 text-gray-500 dark:bg-gray-700 dark:text-gray-300;
}
.is-active .p-tab__badge {
  @apply bg-primary-100 text-primary-500 dark:bg-primary-900 dark:text-primary-300;
}
.p-tab__error {
  @apply ml-1 text-error-500 dark:text-error-700;
}
</style>
