<script lang="ts">
import { defineComponent, type PropType } from 'vue'
import PDialog from '@/components/dialog/PDialog.vue'
import PForm from '@/components/form/PForm.vue'
import type { FormContext } from 'vee-validate'

export type WizardStepConfig = {
  id: string
  title: string
  nextButtonDisabled?: boolean
  nextButtonLabel?: string
  prevButtonDisabled?: boolean
  prevButtonLabel?: string
}

export type WizardSteps = WizardStepConfig[]

export default defineComponent({
  name: 'PWizard',
  components: { PForm, PDialog },

  props: {
    defaultValues: {
      type: Object,
      default: () => ({})
    },
    show: {
      type: Boolean,
      default: false
    },
    steps: {
      type: Array as PropType<WizardSteps>,
      default: () => [
        {
          id: 'first',
          title: 'First Step'
        },
        { id: 'second', title: 'Second Step', prevButtonLabel: 'zurück: Datei auswählen' },
        { id: 'last', title: 'Third and last step', nextButtonLabel: 'Schließen' }
      ]
    }
  },
  emits: ['close'],

  data: () => ({
    currentStepIndex: 0
  }),

  computed: {
    currentStep() {
      return this.steps[this.currentStepIndex]
    },
    computedNextButtonLabel() {
      return this.currentStep.nextButtonLabel || this.$t('ui.PWizard.next')
    },
    computedPrevButtonLabel() {
      return this.currentStep.prevButtonLabel || this.$t('ui.PWizard.previous')
    }
  },

  watch: {
    show() {
      if (this.show) {
        this.currentStepIndex = 0
      }
    }
  },

  methods: {
    async next(context: FormContext) {
      await context.validate()

      // @ts-ignore
      if (!context.meta.valid) {
        return
      }

      if (this.currentStepIndex === this.steps.length - 1) {
        this.$emit('close')
        return
      }
      if (this.currentStepIndex < this.steps.length - 1) {
        this.currentStepIndex++
      }
    },
    prev() {
      if (this.currentStepIndex > 0) {
        this.currentStepIndex--
      }
    }
  }
})
</script>

<template>
  <p-form v-slot="formContext" no-buttons keep-values :item="defaultValues">
    <p-dialog
      v-bind="$attrs"
      class="flex w-full !max-w-[90vw] mx-auto"
      max-width="100vw"
      :show="show"
      :title="currentStep.title"
      @close="$emit('close')"
    >
      <slot :name="`step:${currentStep.id}`" v-bind="formContext"></slot>
      <template #footer>
        <div class="w-full flex justify-between">
          <div>
            <slot name="previous-button">
              <p-btn v-if="currentStepIndex > 0" @click="prev" :disabled="currentStep.prevButtonDisabled">
                {{ computedPrevButtonLabel }}
              </p-btn>
            </slot>
          </div>
          <div>
            <slot name="next-button">
              <p-btn type="primary" :disabled="currentStep.nextButtonDisabled" @click="next(formContext)">
                {{ computedNextButtonLabel }}
              </p-btn>
            </slot>
          </div>
        </div>
      </template>
    </p-dialog>
  </p-form>
</template>

<style scoped lang="css"></style>
