<script lang="ts" setup>
import { computed, reactive, ref } from 'vue'
import PSwitchInput from '../../../src/components/form/input/PSwitchInput.vue'
const show = ref(false)

const stepIsValid = ref(false)

const steps = computed(() => [
  {
    id: 'first',
    title: 'First Step'
  },
  {
    id: 'second',
    title: 'Second Step with a form',
    nextButtonLabel: 'Proceed to last step'
  },
  { id: 'last', title: 'Finally', nextButtonLabel: 'Close' }
])
</script>

<template>
  <p-btn @click="show = true">Show wizard with 3 steps</p-btn>
  <p-wizard :show="show" :steps="steps" class="!w-[90ch]" @close="show = false">
    <template #step:first="{ values }">Welcome to our wizard! :-)</template>
    <template #step:second>
      <div class="my-4">This step contains a form field. You can only proceed if it is valid.</div>
      <p-field type="text" name="name" label="Name" required></p-field>
    </template>
    <template #step:last="{ values }">
      <div>Let's finish! This are the form values entered:</div>
      <div class="py-8 font-bold text-gray-600">{{ values }}</div>
    </template>
  </p-wizard>
</template>
