<script lang="ts" setup></script>

<template>
  <p-form-section title="Form Section">
    This is the form body

    <template #actions>
      <p-button size="small" type="danger" plain>delete</p-button>
    </template>
  </p-form-section>
</template>
