@import url('element-plus');
@import url('tailwind.css');

body {
  @apply text-gray-700 dark:text-gray-300;
  font-family: var(--tw-font-sans);
}

p > a,
li > a,
td > a {
  font-weight: 600;
  color: var(--tw-color-primary);
}

p > a:hover,
li > a:hover,
td > a:hover {
  color: var(--tw-color-primary-400);
}
