<script setup lang="ts">
import { ref } from 'vue'

const defaultValues = {
  city: 'Hamburg',
  company: 'ACME Inc.',
  autoLogin: true
}

const onSubmit = (values: any) => {
  result.value = values
}

const result = ref(undefined)
</script>

<template>
  <p-multi-form :item="defaultValues" @submit="onSubmit">
    <div class="grid grid-cols-2 gap-x-6 items-center">
      <p-field name="name" label="Name" />
      <p-field name="company" label="Company" />
      <p-field name="city" label="City" />
      <p-field name="role" type="select" label="Role" :items="['Admin', 'User', 'Guest']" />
      <p-field name="autoLogin" type="switch" label="Login automatically" hint="Do not use on a shared device." />
    </div>
  </p-multi-form>
  <div v-if="result" class="p-4 bg-gray-100 mt-6 text-sm text-gray-500">
    <p class="font-bold">Submit Result:</p>
    {{ result }}
  </div>
</template>
