<script setup lang="ts">
import { computed, ref } from 'vue'
import data from './items'

const selectItems = ref(data.map((item) => ({ value: item.id, label: `${item.name.firstname} ${item.name.lastname}` })))
const selectedItems = ref<any[]>([])
const items = computed(() => data.filter((item) => selectedItems.value.includes(item.id)))

const defaultValues = { city: 'Hamburg', enabled: true }

const submitResults = ref(undefined)
const onSubmit = (values: any) => {
  submitResults.value = values
}

const changeset = ref(undefined)
const onSubmitChanges = (changes: any) => {
  changeset.value = changes
}
</script>

<template>
  <div class="border-b mb-8">
    <p-field v-model="selectedItems" name="select" type="select" :items="selectItems" multiple label="Select item(s)" />
  </div>
  <p-multi-form
    :items="items"
    :default-item="defaultValues"
    @submit="onSubmit"
    @submit:changes="onSubmitChanges"
    resettable
  >
    <template #default="ctx">
      <p class="font-semibold mb-6">MultiForm with these items:</p>
      <div class="grid grid-cols-2 gap-x-6 items-center">
        <p-field name="name.firstname" label="Firstname" />
        <p-field name="name.lastname" type="autocomplete" label="Lastname" required />
        <p-field name="city" type="select" label="City" :items="['Berlin', 'Hamburg', 'München']" />
        <p-field name="credits" type="number" label="Credits" />
        <p-field name="enabled" type="switch" label="enabled" />
      </div>
    </template>
  </p-multi-form>
  <div v-if="submitResults" class="p-4 bg-gray-100 mt-6 text-sm text-gray-500">
    <p class="font-bold">Submit Result:</p>
    {{ submitResults }}

    <p class="font-bold mt-4">Shared values only:</p>
    {{ changeset }}
  </div>
</template>
