<script lang="ts" setup>
import { ref } from 'vue'

const items: any[] = []
for (let i = 1; i <= 20; i++) {
  items.push({ value: i, label: `Item #${i}` })
}
items[12] =
  'Lorem ipsum dolor sit amet, usu ignota noster voluptatibus ad, mei et oratio iuvaret. Per ex epicuri maluisset, cu ocurreret definitiones conclusionemque mel.'
items[3].disabled = true
items[5].disabled = true
items[17].disabled = true
items[18].disabled = true
const value = ref(undefined)
</script>

<template>
  <p-select-input v-model="value" :items="items" />
</template>
