<script lang="ts" setup>
import { ref } from 'vue'

const items = [
  {
    value: 'mm',
    label: 'Max Mustermann',
    firstname: 'Max',
    lastname: 'Mustermann',
    place: 'Berlin'
  },
  {
    value: 'ss',
    label: 'Stefanie Schubert',
    firstname: 'Stefanie',
    lastname: 'Schubert',
    place: 'Duisburg'
  },
  {
    value: 'ff',
    label: 'Florian Feierabend',
    firstname: 'Florian',
    lastname: 'Feierabend',
    place: 'München'
  }
]
const value = ref(undefined)
</script>

<template>
  <p-select-input v-model="value" :items="items" item-height="auto">
    <template #item="{ item }">
      <div class="leading-relaxed py-2">
        <div>
          {{ item.firstname }}
          <b>{{ item.lastname }}</b>
        </div>
        <div class="text-sm text-gray-400">{{ item.place }}</div>
      </div>
    </template>
  </p-select-input>
</template>
