<script setup lang="ts">
import { ref } from 'vue'
import { MIXED_VALUES } from '@prionect/ui'
const value = ref(MIXED_VALUES)
const list = ref(['First', 'Second', 'Third', 'Fourth', 'Fifth'])
</script>

<template>
  <p-select-input v-model="value" :items="list" />
</template>
