<script lang="ts" setup>
import { ref } from 'vue'

const file = ref<File | null>(null)
</script>

<template>
  <div>
    <p-file-input @change="file = $event" />
    <div v-if="file" class="mt-8">Selected File: {{ file.name }}</div>
  </div>
</template>
