:root {
}

.el-button {
  --el-button-size: var(--el-component-size);
  height: var(--el-button-size);
}

.el-button--small {
  --el-button-size: var(--el-component-size-small);
  font-size: 13px;
}

/* override too eager Tailwind reset */
button.el-button,
[type='button'].el-button,
[type='reset'].el-button,
[type='submit'].el-button {
  background-color: var(--el-button-bg-color);
}

.el-button.is-plain:hover {
  background-color: var(--el-button-text-color);
}
