:root {
  --el-form-label-font-size: var(--el-font-size-small);
}

.el-input,
.el-textarea {
  font-weight: 500;
}

.el-input--small {
  font-size: var(--el-font-size-small);
}

.el-form-item__label {
  font-weight: 600;
  color: var(--el-text-color-secondary);
  opacity: 0.8;
  height: var(--el-component-size-small);
}

.el-input ::placeholder,
.el-textarea ::placeholder {
  font-weight: normal;
}

.el-popper__arrow {
  /* Remove triangle on dropdown lists */
  display: none;
}

.el-popconfirm {
  @apply p-2 rounded;
}
