.el-select__wrapper {
  font-weight: 500;
  min-height: var(--el-component-size);
}

.el-select--small .el-select__wrapper {
  min-height: var(--el-component-size-small);
  font-size: var(--el-font-size-small);
}

.el-select-dropdown {
  /* Make sure min-width size takes effect (dropdown is not wider than the field) */
  width: 0;
}

.el-select-dropdown__list {
  padding: 0;
}

.el-select-dropdown__item {
  height: var(--el-component-size);
}

.el-select-dropdown__item--small {
  height: var(--el-component-size-small);
  font-size: var(--el-font-size-small);
}

.el-select-dropdown__item.selected {
  font-weight: 600 !important;
}
