:root {
  /** colors **/
  --el-border-color-darker: var(--tw-color-gray-500);
  --el-border-color-dark: var(--tw-color-gray-400);
  --el-border-color: var(--tw-color-gray-300);
  --el-border-color-light: var(--tw-color-gray-200);
  --el-border-color-lighter-: var(--tw-color-gray-100);
  --el-border-color-lightest: var(--tw-color-gray-100);

  --el-text-color-primary: var(--tw-color-gray-800);
  --el-text-color-regular: var(--tw-color-gray-600);
  --el-text-color-secondary: var(--tw-color-gray-500);
  --el-text-color-placeholder: var(--tw-color-gray-400);
  --el-text-color-disabled: var(--tw-color-gray-300);

  /** sizes **/
  --el-component-size: 36px;
  --el-component-size-small: 30px;
  --el-tag-text-color: var(--tw-color-gray-600);
  --el-tag-font-size: var(--el-font-size-small);

  --el-border-radius-base: 4px;
}
