<script setup lang="ts">
import { ref } from 'vue'
const value = ref(true)
</script>

<template>
  <p-switch-input v-model="value" disabled label="Disabled switch" hint="You cannot change my value." />
</template>
