<script setup lang="ts">
import { ref } from 'vue'
const value = ref(true)
</script>

<template>
  <p-switch-input v-model="value" label="Enable extended Options" hint="Use at your own risk." />
</template>
