<script setup lang="ts">
import { ref } from 'vue'
import { MIXED_VALUES } from '@prionect/ui'
const value = ref(MIXED_VALUES)
</script>

<template>
  <p-switch-input
    v-model="value"
    label="Enable Pre-Authentication"
    hint="This switch is initially in mixed value (indeterminate) mode."
  />
</template>
