<script setup lang="ts">
import { ref } from 'vue'
const value = ref(false)
</script>

<template>
  <div class="space-y-8">
    <p-switch-input v-model="value" size="large" label="Large switch" hint="Use at your own risk." />
    <p-switch-input v-model="value" label="Regular switch" hint="Use at your own risk." />
    <p-switch-input v-model="value" size="small" label="Small switch" hint="Use at your own risk." />
  </div>
</template>
