<script lang="ts" setup>
import { ref } from 'vue'

const names = ref([
  'Gaven Nguyen',
  'Micah Stout',
  'Carleigh Powers',
  'Macie Bauer',
  'Austin Miles',
  'Krystal Jennings',
  'Matthias Landry',
  'Jasper Watts',
  'Hunter Costa',
  'Aaden Hardy',
  'Leandro Willis',
  'Xavier Tate',
  'Estrella Waters',
  'Sydney Mckinney',
  'Enzo Doyle',
  'Emilia Buckley',
  'Kamryn Bruce',
  'Emiliano Jackson',
  'Jasper Mcconnell',
  'Alina Newton'
])
names.value.sort()

const value = ref(undefined)
</script>

<template>
  <p-autocomplete-input v-model="value" :items="names" />
</template>
