<script setup lang="ts">
import type { TabConfig } from '@/components/tabs/PTabs.vue'

const tabs: TabConfig[] = [
  { id: 'project', label: 'Project' },
  { id: 'members', label: 'Members' },
  { id: 'messages', label: 'Notifications', badge: 123 }
]
</script>

<template>
  <p-tabs :tabs="tabs"></p-tabs>
</template>
