<script setup lang="ts">
import type { TabConfig } from '@/components/tabs/PTabs.vue'

const tabs: TabConfig[] = [
  { id: 'tab1', label: 'Tab 1' },
  { id: 'tab2', label: 'Tab 2' },
  { id: 'tab3', label: 'Tab 3' }
]
</script>

<template>
  <p-tabs :tabs="tabs">
    <template #tab:tab1>First Pane</template>
    <template #tab:tab2>Second Pane</template>
    <template #tab:tab3>
      <div class="p-8 bg-gray-100">Last Pane</div>
    </template>
  </p-tabs>
</template>
