<script setup lang="ts">
import type { TabConfig } from '@/components/tabs/PTabs.vue'
import { ref } from 'vue'

const event = ref('')

const tabs: TabConfig[] = [
  { id: 'project', label: 'Project' },
  { id: 'members', label: 'Members', error: true, badge: '49' },
  { id: 'messages', label: 'Pricing', error: true }
]
</script>

<template>
  <p-tabs :tabs="tabs" @change="event = `@change triggered for tab '${$event}'`"></p-tabs>

  <div class="mt-4 bg-gray-50 p-4">Event: {{ event }}</div>
</template>
