:root {
  --vp-c-brand-3: #007799;
  --vp-c-brand-1: #0098c3;
  --vp-c-brand-2: #00b3e5;

  --vp-code-block-bg: #292d3e;
  --component-preview-bg: var(--vp-code-block-bg) !important;
  --vp-code-lang-color: rgba(255, 255, 255, 0.3);
}

.VPNav .logo {
  height: 32px;
  margin-left: -8px;
}

.demo-block {
  @apply rounded  border-gray-200;
}

.demo-block__content {
  padding: 32px;
  line-height: initial;
}

.demo-block__info {
  @apply border-gray-200;
}
