<script lang="ts">
import { defineComponent, type PropType } from 'vue'
import { ElAutocomplete } from 'element-plus'
import { useMixedValues } from '@/composables/useMixedValues'

export default defineComponent({
  name: 'PAutocompleteInput',
  components: { ElAutocomplete },
  props: {
    items: {
      type: Array as PropType<string[]>,
      default: () => []
    },
    modelValue: String as PropType<any>,
    placeholder: String
  },

  data: () => ({
    dirty: false,
    filterCallback: undefined as undefined | Function
  }),

  watch: {
    modelValue() {
      // reset filter list on value change
      this.filterCallback && this.filterCallback([])
      this.dirty = false
    }
  },

  setup(props) {
    const { hasMixedValue, mixedPlaceholder } = useMixedValues(props)
    return { hasMixedValue, mixedPlaceholder }
  },

  methods: {
    filter(query: string, callback: (data: any[]) => void) {
      this.filterCallback = callback
      const filteredItems = this.items.filter((item) => item?.toLowerCase().includes(query.toLowerCase()))
      if (!this.dirty && filteredItems.length === 1 && filteredItems[0] === this.modelValue) {
        // Do not return items if the field has a value and was not touched before
        callback([])
      } else {
        callback(filteredItems.map((item) => ({ value: item })))
      }
    }
  }
})
</script>

<template>
  <el-autocomplete
    v-bind="$attrs"
    class="w-full"
    :fetch-suggestions="filter"
    :modelValue="hasMixedValue ? undefined : modelValue"
    :placeholder="mixedPlaceholder"
    :trigger-on-focus="true"
    @input="dirty = true"
  />
</template>
