<script lang="ts">
import { defineComponent } from 'vue'

/**
 * TEST
 */
export default defineComponent({
  name: 'PFileInput',

  props: {
    /**
     * kjlkjl
     */
    accept: String,
    // jhjkhkjhk
    label: String
  },

  emits: ['change'],

  data: () => ({
    dropping: false
  }),

  computed: {
    defaultLabel() {
      return this.$t('ui.PFileInput.label')
    }
  },

  methods: {
    /**
     * User dragged a file into the dropzone
     */
    onDrop(event: DragEvent) {
      this.dropping = false
      const files = event.dataTransfer?.files || []
      if (files[0]) {
        this.updateFile(files[0])
      }
    },

    onDropzoneClick() {
      ;(this.$refs.fileInput as HTMLInputElement).click()
    },
    onFileChange(event: Event) {
      const files = (event.target as HTMLInputElement).files
      if (files && files.length > 0) {
        this.updateFile(files[0])
      }
    },

    /**
     * A new file was selected (either by dragging or click)
     * @param file
     */
    updateFile(file: File) {
      this.$emit('change', file)
    }
  }
})
</script>

<template>
  <div
    class="p-file-input p-file-input__dropzone"
    :class="{ 'bg-gray-100': dropping }"
    @click="onDropzoneClick"
    @drop.prevent="onDrop"
    @dragenter.prevent="dropping = true"
    @dragover.prevent="dropping = true"
    @dragleave.prevent="dropping = false"
  >
    <p-upload-icon class="w-12 h-12 my-4" />
    <div>{{ label || defaultLabel }}</div>
    <input type="file" ref="fileInput" class="hidden" @change="onFileChange" :accept="accept" />
  </div>
</template>

<style scoped lang="css">
.p-file-input__dropzone {
  @apply flex flex-col justify-center items-center text-gray-400 hover:text-gray-500
  p-8 border-2 border-dashed rounded border-gray-300 cursor-pointer hover:border-primary-400 hover:text-primary-400 transition-colors;
}
</style>
