<script lang="ts">
import { defineComponent, type PropType } from 'vue'
import { ElSelect, ElOption } from 'element-plus'
import { useI18n } from 'vue-i18n'
import { useMixedValues } from '@/composables/useMixedValues'

export default defineComponent({
  name: 'PSelectInput',
  components: { ElSelect, ElOption },

  data: () => ({
    expanded: false
  }),

  props: {
    filterable: { type: Boolean, default: true },
    itemHeight: String,
    items: {
      type: Array as PropType<any[]>,
      default: () => []
    },
    modelValue: [String, Number, Array] as PropType<any>,
    placeholder: String
  },
  emits: ['blur'],

  setup(props) {
    // FIXME: Replace with $te once this vue-i18n bug is resolved:
    // https://github.com/intlify/vue-i18n-next/issues/1104
    const { te } = useI18n()

    const { hasMixedValue, mixedPlaceholder } = useMixedValues(props)
    return { hasMixedValue, mixedPlaceholder, te }
  },

  methods: {
    /**
     * Prevent @blur events when the dropdown menu is open
     */
    filterBlur(e: any) {
      if (!this.expanded) {
        this.$emit('blur', e)
      }
    },

    translate(label: string) {
      return this.te(label) ? this.$t(label) : label
    }
  }
})
</script>

<template>
  <el-select
    v-bind="$attrs"
    class="p-select-input"
    :filterable="filterable"
    :modelValue="hasMixedValue ? undefined : modelValue"
    :placeholder="mixedPlaceholder"
    :validateEvent="false"
    @blur="filterBlur"
    @visible-change="expanded = $event"
    :fit-input-width="false"
  >
    <el-option
      v-for="item in items"
      :key="item.value || item"
      :value="item.value === undefined ? item : item.value"
      :label="item.label === undefined ? item : translate(item.label)"
      :disabled="!!item.disabled"
      :class="{ [`el-select-dropdown__item--${$attrs.size}`]: $attrs.size }"
      :style="itemHeight ? `height: ${itemHeight} !important` : ''"
    >
      <slot name="item" :item="item" :translate="translate">
        {{ item.label === undefined ? item : translate(item.label) }}
      </slot>
    </el-option>
  </el-select>
</template>

<style scoped lang="css">
.p-select-input {
  @apply w-full;
}
</style>
