<script setup lang="ts">
/**
 * Test wrapper component for PSwitchInput
 */

import { ref } from 'vue'
import PSwitchInput from './PSwitchInput.vue'

const checked = ref(false)
</script>

<template>
  <PSwitchInput v-bind="$attrs" v-model="checked" />
</template>

<style scoped lang="css"></style>
