<script lang="ts">
import { defineComponent, type PropType } from 'vue'
import { ElSwitch } from 'element-plus'
import { uniqueId } from '@/util'
import { useMixedValues } from '@/composables/useMixedValues'

export default defineComponent({
  name: 'PSwitchInput',
  components: { ElSwitch },
  props: {
    disabled: Boolean,
    label: String,
    modelValue: [Boolean, String],
    hint: String,
    size: {
      type: String as PropType<'small' | 'default' | 'large'>,
      default: 'default'
    }
  },

  data: () => ({
    id: uniqueId()
  }),

  computed: {
    isActive(): boolean {
      return !this.hasMixedValue && !!this.modelValue
    }
  },

  setup(props) {
    const { hasMixedValue, mixedPlaceholder } = useMixedValues(props)
    return { hasMixedValue, mixedPlaceholder }
  }
})
</script>

<template>
  <div
    class="flex p-switch-input"
    :class="{
      'p-switch--active': isActive,
      'p-switch--mixed': hasMixedValue,
      'p-switch--disabled': disabled,
      [`p-switch--${size}`]: true
    }"
  >
    <el-switch
      v-bind="$attrs"
      :disabled="disabled"
      :id="id"
      :modelValue="hasMixedValue ? undefined : modelValue"
      :size="size"
    />
    <label :for="id" v-if="label" class="p-switch-input__label">
      <div class="p-switch-input__label-text">
        <span v-if="hasMixedValue" class="p-switch-input__mixed-indicator">
          {{ $t('ui.PForm.mixedPlaceholder') }}
        </span>
        <span :class="{ 'opacity-80': hasMixedValue }">{{ label }}</span>
      </div>
      <div v-if="hint" class="p-switch-input__hint">{{ hint }}</div>
    </label>
  </div>
</template>

<style scoped lang="css">
.p-switch-input__label {
  @apply block mt-1.5 ml-3 select-none;
}

.p-switch-input:not(.p-switch--disabled) .p-switch-input__label {
  @apply cursor-pointer;
}

.p-switch-input__label-text {
  @apply font-semibold pb-1.5 text-gray-600;
}

.p-switch--disabled .p-switch-input__label-text,
.p-switch--disabled .p-switch-input__hint {
  opacity: 0.5;
}

.p-switch--active:not(.p-switch--disabled) .p-switch-input__label-text {
  @apply text-[var(--tw-color-primary-500)];
}

.p-switch-input__hint {
  color: var(--el-text-color-secondary);
  @apply text-base pb-1;
}

.p-switch-input__mixed-indicator {
  @apply text-[var(--tw-color-primary-500)] pr-2;
}

.p-switch--small .p-switch-input__label {
  margin-top: 3px;
}

.p-switch--small .p-switch-input__label-text {
  font-size: var(--el-font-size-small);
  padding-bottom: 4px;
}

.p-switch--small .p-switch-input__hint {
  font-size: var(--el-font-size-small);
}
</style>
