<script lang="ts">
import { defineComponent, type PropType } from 'vue'
import { ElInput } from 'element-plus'
import { useMixedValues } from '@/composables/useMixedValues'

export default defineComponent({
  name: 'PTextInput',
  components: { ElInput },
  props: {
    unit: String,
    modelValue: String as PropType<any>,
    placeholder: String
  },
  setup(props) {
    const { hasMixedValue, mixedPlaceholder } = useMixedValues(props)
    return { hasMixedValue, mixedPlaceholder }
  }
})
</script>

<template>
  <el-input
    v-bind="$attrs"
    :errorMessage="true"
    :modelValue="hasMixedValue ? undefined : modelValue"
    :placeholder="mixedPlaceholder"
  >
    <template #suffix v-if="unit">{{ unit }}</template>
  </el-input>
</template>

<style scoped lang="css"></style>
