<script lang="ts">
import { defineComponent } from 'vue'
import { useI18n } from 'vue-i18n'
import { Dialog, DialogDescription, DialogPanel, DialogTitle, TransitionChild, TransitionRoot } from '@headlessui/vue'

/**
 * This is a dialog
 */
export default defineComponent({
  name: 'PDialog',
  components: { DialogDescription, DialogTitle, DialogPanel, Dialog, TransitionRoot, TransitionChild },

  props: {
    /**
     * cancel label
     */
    cancelLabel: {
      type: String,
      default: 'ui.PDialog.cancel'
    },
    confirmLabel: {
      type: String,
      default: 'ui.PDialog.confirm'
    },
    danger: Boolean,
    show: {
      type: Boolean,
      default: false
    },
    title: String
  },
  emits: {
    close: () => true,
    confirm: () => true,
    'update:show': (v: boolean) => true
  },

  setup() {
    // FIXME: Replace with $te once this vue-i18n bug is resolved:
    // https://github.com/intlify/vue-i18n-next/issues/1104
    const { te } = useI18n()
    return { te }
  },

  methods: {
    close() {
      this.$emit('update:show', false)
      this.$emit('close')
    },
    confirm() {
      this.$emit('confirm')
      this.close()
    }
  }
})
</script>

<template>
  <TransitionRoot :show="show" as="template">
    <Dialog @close="close" class="relative z-50">
      <!-- Wrap your backdrop in a `TransitionChild`. -->
      <TransitionChild
        enter="duration-200 ease-in"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="duration-200 "
        leave-from="opacity-200 ease-out"
        leave-to="opacity-0"
      >
        <div class="p-dialog__backdrop" aria-hidden="true" />
      </TransitionChild>

      <div class="p-dialog__wrap">
        <!-- Wrap your panel in a `TransitionChild`. -->
        <TransitionChild
          enter="duration-200 ease-out"
          enter-from="opacity-0 scale-90"
          enter-to="opacity-100 scale-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100 scale-100"
          leave-to="opacity-0 scale-90"
        >
          <DialogPanel v-bind="$attrs" class="p-dialog">
            <DialogTitle class="p-dialog__title-bar" :class="{ '-mb-6': !title }">
              <h2 v-if="title" class="p-dialog__title">{{ title }}</h2>
              <div v-else class="flex-1"></div>
              <p-close-icon class="p-dialog__close" data-el="close-icon" @click="close"></p-close-icon>
            </DialogTitle>
            <DialogDescription>
              <div class="p-dialog__content">
                <slot></slot>
              </div>
              <div class="p-dialog__footer">
                <slot name="footer" v-bind="{ close, confirm }">
                  <p-btn text @click="close" :tabindex="danger ? 1 : 2" :autofocus="danger" data-el="cancel-btn">
                    {{ te(cancelLabel) ? $t(cancelLabel) : cancelLabel }}
                  </p-btn>
                  <p-btn
                    :type="danger ? 'danger' : 'primary'"
                    @click="confirm"
                    :tabindex="danger ? 2 : 1"
                    :autofocus="!danger"
                    data-el="confirm-btn"
                  >
                    {{ te(confirmLabel) ? $t(confirmLabel) : confirmLabel }}
                  </p-btn>
                </slot>
              </div>
            </DialogDescription>
          </DialogPanel>
        </TransitionChild>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<style scoped lang="css">
.p-dialog__backdrop {
  @apply fixed inset-0 bg-gray-600/60;
}

.p-dialog__wrap {
  @apply fixed inset-0 flex items-center justify-center;
}

.p-dialog {
  @apply bg-white text-base text-gray-700 rounded-lg shadow-xl py-4 px-8 dark:bg-gray-900 dark:text-gray-300 flex flex-col;
  min-width: 40ch;
}

.p-dialog__title-bar {
  @apply flex items-center;
}

.p-dialog__title {
  @apply flex-1 font-medium text-xl text-gray-500;
}

.p-dialog__close {
  @apply w-10 p-1 cursor-pointer text-gray-400 transition-colors dark:text-gray-700;
}

.p-dialog__close:hover {
  @apply text-gray-500 dark:text-gray-600;
}

.p-dialog__content {
  @apply mt-6 font-medium leading-relaxed text-lg flex-1 overflow-auto;
}

.p-dialog__footer {
  @apply flex justify-end space-x-4 mt-6 mb-4;
}
</style>
