<script lang="ts" setup>
import type { TextFieldConfig } from '@/components/form/types'
import { reactive, ref } from 'vue'

const config: TextFieldConfig = reactive({
  name: 'basic-field',
  type: 'text',
  label: 'Text field defined by config object',
  hint: 'Additional hint',
  unit: 'kg / h',
  required: true
})
</script>

<template>
  <p-form v-slot="{ values }" no-buttons>
    <p-field name="minimal" label="Minimal field" />
    <p-field v-bind="config" />
  </p-form>
</template>
