<script lang="ts" setup>
import type { FieldConfig } from '@/components/form/types'
import { computed, reactive, ref } from 'vue'
import { MIXED_VALUES } from '@prionect/ui'

const fieldTypes = ref(['autocomplete', 'text', 'number', 'password', 'select', 'switch', 'textarea'])
const baseConfig = {
  placeholder: 'Placeholder',
  required: true,
  items: [
    { value: 1, label: 'One' },
    { value: 2, label: 'Two' },
    { value: 3, label: 'Three' },
    { value: 4, label: 'Four' }
  ],
  hint: 'Helpful hint'
}

const disabled = ref(false)

const configs = computed(
  () =>
    fieldTypes.value.map((type) => ({
      ...baseConfig,
      type: type,
      name: type,
      label: type.charAt(0).toUpperCase() + type.slice(1) + ' field',
      disabled: disabled.value
    })) as FieldConfig[]
)
const useMixedValues = ref(false)

const initialValues = computed(() => {
  const fields: any = {}
  configs.value.forEach((item) => {
    fields[item.type!] = useMixedValues.value ? MIXED_VALUES : undefined
  })
  return fields
})

const onSubmit = (values: any) => {
  console.log('submit', values)
}
</script>

<template>
  <p-form v-slot="{}" class="border-b pb-4 mb-4" :item="initialValues" resettable @submit="onSubmit">
    <div class="grid grid-cols-2 gap-6 items-center">
      <p-field v-for="config in configs" :key="config.type" v-bind="config" />
    </div>
  </p-form>
  <p-field type="switch" name="mixed" v-model="useMixedValues" label="use MIXED_VALUES" />
  <p-field type="switch" name="disabled" v-model="disabled" label="disabled" />
</template>
