<script lang="ts" setup>
import { ref } from 'vue'
const fieldValue = ref('my value')
</script>

<template>
  <p-form no-buttons class="text-base">
    <p-field name="vmodel" label="Field with v-model" v-model="fieldValue" />
    <div class="text-gray-600">
      Model value:
      <b>{{ fieldValue }}</b>
    </div>
  </p-form>
</template>
