<script lang="ts">
import { defineComponent, type PropType } from 'vue'
import { useAuthentication } from '@/composables/useAuthentication'

import { LogoMicrosoft, LogoGoogle, LogoApple, LogoFacebook } from '@vicons/ionicons5'

const socialIcons: any = {
  apple: LogoApple,
  google: LogoGoogle,
  microsoft: LogoMicrosoft,
  facebook: LogoFacebook
}

export default defineComponent({
  name: 'PLoginForm',

  data: () => ({
    hasError: false,
    error: null as string | null
  }),
  props: {
    methods: {
      type: Array as PropType<string[]>,
      default: () => ['password']
    }
  },

  computed: {
    socialIcons() {
      return socialIcons
    },
    socialLogins() {
      return [...this.methods, ...(this.auth?.options.methods || [])].filter((m) => m !== 'password') || []
    },
    enablePasswordLogin() {
      return this.auth?.options.methods
        ? this.auth?.options.methods?.includes('password')
        : this.methods?.includes('password')
    },
    enableSignup() {
      return !!this.auth?.options.enableSignup
    }
  },

  setup() {
    return { auth: useAuthentication() || undefined }
  },

  mounted() {
    if (this.$route.query.error) {
      this.hasError = true
      this.error = this.$route.query.error_description as string
    }
  },

  methods: {
    async login(values: any) {
      this.hasError = false
      const result = await this.auth?.login({ type: 'password', username: values.login, password: values.password })
      this.hasError = result !== true
    },

    async socialLogin(provider: string) {
      this.hasError = false
      const result = await this.auth?.login({ type: 'oauth', provider })
      this.hasError = result !== true
    }
  }
})
</script>

<template>
  <div class="text-base">
    <p-form @submit="login" class="text-base" :no-buttons="!enablePasswordLogin">
      <div v-if="socialLogins.length > 0" class="flex flex-col space-y-4">
        <template v-for="provider in socialLogins">
          <p-btn
            v-if="socialIcons[provider]"
            :key="provider"
            class="!mx-0"
            size="large"
            @click="socialLogin(provider)"
            :type="socialLogins.length === 1 && !enablePasswordLogin ? 'primary' : ''"
          >
            <component :is="socialIcons[provider]" class="w-4 h-4 opacity-60 mr-2" />
            {{ $t('ui.auth.social.' + provider) }}
          </p-btn>
        </template>
      </div>

      <div v-if="enablePasswordLogin && socialLogins.length > 0" class="flex my-6 items-center">
        <hr class="flex-1" />
        <div class="text-gray-400 px-4 mb-1">oder</div>
        <hr class="flex-1" />
      </div>
      <template v-if="enablePasswordLogin">
        <p-field
          name="login"
          :placeholder="$t('ui.auth.LoginForm.email.label')"
          :required="$t('ui.auth.LoginForm.email.required')"
          autofocus
        ></p-field>
        <p-field
          name="password"
          type="password"
          :placeholder="$t('ui.auth.LoginForm.password.label')"
          :required="$t('ui.auth.LoginForm.password.required')"
        ></p-field>
      </template>

      <template v-if="enablePasswordLogin" #buttons="{ onSubmit }">
        <p-btn size="large" class="w-full" @click="onSubmit" type="primary">{{ $t('ui.auth.LoginForm.login') }}</p-btn>
      </template>
    </p-form>

    <div v-if="hasError" class="p-4 my-8 text-sm bg-error-200 text-error-600">
      <template v-if="error && error.includes('Signups not allowed')">
        {{ $t('ui.auth.LoginForm.signupsNotAllowedError') }}
      </template>
      <template v-else>
        {{ $t('ui.auth.LoginForm.loginError') }}
      </template>
    </div>

    <p v-if="enableSignup" class="mt-8">
      {{ $t('ui.auth.LoginForm.signupLink.notSignedUp') }}
      <router-link :to="{ name: 'auth-signup' }">{{ $t('ui.auth.LoginForm.signupLink.signupNow') }}</router-link>
    </p>
  </div>
</template>

<style scoped lang="css"></style>
