<script lang="ts">
import { defineComponent, ref } from 'vue'
import PField from '@/components/form/PField.vue'
import type { SignupData } from '@/index'
import { useAuthentication } from '@/composables/useAuthentication'

export default defineComponent({
  name: 'SignupForm',
  components: { PField },

  data: () => ({
    error: false as false | string
  }),

  setup() {
    return { auth: useAuthentication() || undefined }
  },

  methods: {
    async signup(values: any) {
      if (!this.auth?.signup) {
        console.error('Signup not allowed')
        return
      }

      console.log('onSignup', values, this.auth)
      this.error = false
      const data: SignupData = { username: values.email, password: values.password }
      try {
        const result = await this.auth.signup(data)
        if (result.confirmationRequired) {
          alert('Registration successful, please confirm')
        }
        console.log('signup successful, result', result)
      } catch (e) {
        this.error = (e as Error).message || this.$t('ui.auth.SignupForm.signupError')
      }
    }
  }
})
</script>

<template>
  <div class="text-base">
    <h2 class="text-2xl font-semibold">{{ $t('ui.auth.SignupForm.title') }}</h2>

    <p class="my-6">
      {{ $t('ui.auth.SignupForm.loginLink.alreadyRegistered') }}
      <router-link :to="{ name: 'auth-login' }">{{ $t('ui.auth.SignupForm.loginLink.loginNow') }}</router-link>
    </p>

    <p-form @submit="signup">
      <div class="grid grid-cols-2 gap-x-6">
        <p-field name="firstname" :label="$t('ui.auth.SignupForm.firstname.label')" />
        <p-field name="lastname" :label="$t('ui.auth.SignupForm.lastname.label')" />
        <p-field
          name="email"
          type="email"
          class="col-span-2"
          :label="$t('ui.auth.SignupForm.email.label')"
          :required="$t('ui.auth.SignupForm.email.required')"
        />
        <p-field
          name="password"
          class="col-span-2"
          :label="$t('ui.auth.SignupForm.password.label')"
          :hint="$t('ui.auth.SignupForm.password.hint')"
          :required="$t('ui.auth.SignupForm.password.required')"
        />
      </div>
      <template #buttons="{ onSubmit }">
        <p-btn type="primary" size="large" class="w-full" @click="onSubmit">
          {{ $t('ui.auth.SignupForm.signup') }}
        </p-btn>
      </template>
    </p-form>

    <div v-if="error" class="p-4 my-8 text-sm bg-error-200 text-error-600">
      {{ error }}
    </div>
  </div>
</template>

<style scoped lang="css"></style>
