<script lang="ts">
import { defineComponent } from 'vue'
import logoIpsum from '@/assets/logoipsum.svg'

export default defineComponent({
  name: 'AuthLayout',

  props: {
    appLogo: {
      type: String,
      default: logoIpsum
    },
    appTitle: {
      type: String,
      default: 'Acme App'
    },
    bgAttribution: String,
    bgAttributionLink: String,
    bgColor: {
      type: String,
      default: '#ccc'
    },
    bgImage: {
      type: String,
      default: 'https://source.unsplash.com/random?landscape'
    },
    bgOpacity: {
      type: Number,
      default: 1
    }
  }
})
</script>

<template>
  <div class="min-h-full flex text-base overflow-hidden inset-0 absolute">
    <div class="flex-1 flex flex-col py-12 px-8 lg:flex-none lg:px-20 xl:px-24 bg-gray-50 overflow-y-auto">
      <div class="m-auto w-full max-w-sm lg:w-96 flex flex-col justify-between min-h-full">
        <div>
          <slot name="header"></slot>
        </div>
        <div class="flex-1"></div>
        <div class="">
          <slot name="logo">
            <div
              class="flex items-center space-x-6 text-lg text-gray-500 mb-12 cursor-pointer"
              @click="$router.push({ name: 'auth-login' })"
            >
              <img v-if="appLogo" :src="appLogo" class="max-h-[6rem]" />
              <div v-if="appTitle" class="text-2xl font-semibold">{{ appTitle }}</div>
            </div>
          </slot>
          <slot>
            <router-view v-slot="{ Component }">
              <component :is="Component" />
            </router-view>
          </slot>
        </div>
        <div class="flex-1"></div>
        <div class="text-gray-400 mt-4">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
    <div class="hidden lg:block relative w-0 flex-1" :style="{ backgroundColor: bgColor }">
      <img
        class="absolute inset-0 h-full w-full object-cover object-right"
        :src="bgImage"
        :style="'opacity: ' + bgOpacity"
        alt=""
        aria-hidden="true"
      />
      <a
        v-if="bgAttribution"
        class="text-white absolute right-0 bottom-0 opacity-80 text-xs p-2 hover:opacity-100 transition-opacity"
        :href="bgAttributionLink"
        target="_blank"
      >
        {{ bgAttribution }}
      </a>
    </div>
  </div>
</template>

<style lang="css">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
